#body-signin-signup{
	background:url("/images/background/background-1.jpg");
	//background-color: $navbar-bg;
	background-attachment:fixed;
	background-size:cover;
	font-weight: 100;
	height: 100vh;
	margin: 0;
	#signin-signup{
		.full-height{
			height: 100vh;
		}
		.flex-center{
			align-items: center;
			display: flex;
			justify-content: center;
		}
		.position-ref{
			position: relative;
		}
		.panel{
			width: 80%;
		}
		a.hiddenanchor{
			display: none;
		}
	}
}
